@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Tagesschrift", system-ui;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

a{
    position: relative;
    display: inline-block;
    font-size: 1.5em;
    letter-spacing: .1em;
    color: #2EE8A1;
    text-decoration: none;
    border: 2px solid #2EE8A1;
    text-decoration: none;
    padding: 10px 30px;
    z-index: 1;
    overflow: hidden;
    transition: color 1s, box-shadow 1s;
}

a:hover{
    transition-delay: 0s, 1s;
    color: #FFFFFF;
    box-shadow: 
        0   0   10px #2EE8A1,
        0   0   20px #2EE8A1,
        0   0   40px #2EE8A1,
        0   0   80px #2EE8A1,
        0   0   160px #2EE8A1

    ;
}

a::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background: #2EE8A1;
    transform: skewX(35deg);
    z-index: -1;
    transition: 1s;
}

a:hover:before{
    width: 100%;
}
